.container-home {
    padding-top: 5%;
    padding-bottom: 30%;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-edit {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
}

.btn-edit {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 1px 35px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #0978EA;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 400px;
    height: 25px;
}

.btn-edit:hover {
    color: white;
    border-color: white;
    background-color: #085fa3
}

.basic-info {
    width: 100%;
}

.basic-info p {
    border-bottom: 1px solid #ccc;
}

.additional-info {
    width: 100%;
    padding-bottom: 150px;
}

.additional-info p {
    border-bottom: 1px solid #ccc;
}

.user-image {
    width: 100px;
    height: auto;
}

.container-home h1,
.container-home h3,
.container-home h4,
.container-home p {
  text-align: left;
}

@media screen and (max-width: 768px) {
    .container-home {
      padding-top: 10%;
      padding-bottom: 10%;
      align-items: center;
      text-align: center;
    }
  
    .info-edit {
      grid-template-columns: 1fr;
      gap: 5px;
      margin-left: 0;
    }
  
    .btn-edit {
      margin-left: 0;
    }
  
    .user-image {
      width: 80px;
    }
  }
  
  /* Estilos para dispositivos con un ancho máximo de 1024px (pantallas más grandes) */
  @media screen and (max-width: 1024px) {
    .container-home {
      padding-top: 8%;
      padding-bottom: 8%;
    }
  }