aside {
  width: 15%;
  position: fixed;
  top: 55px;
  left: 0;
  height: 100%;
  background-color: #f0f0f0;
  padding: 16px;
  box-sizing: border-box;
}

aside ul {
  list-style-type: none;
  padding: 0;
}
