.container-edit-email {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .container-info {
    margin-left: 1rem; /* Utilizamos una unidad relativa para el margen */
    margin-bottom: 2rem;
  }
  
  .container-info p {
    font-size: small;
    margin-bottom: 1rem; /* Reducir el margen inferior del párrafo */
  }
  
  .container-edit-email input {
    width: 108%;
    padding: 0.5rem;
    margin-bottom: 1rem; /* Espacio entre los inputs ajustado */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-save-email {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.4em 2.8em; /* Ajuste del padding para hacerlo más adaptable */
    background-color: #0978EA;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 108%; /* Ancho del 100% para adaptarse al contenedor */
    margin-left: 1rem; /* Utilizamos una unidad relativa para el margen */
    text-align: center;
  }
  
  .btn-save-email:hover {
    border-color: white;
    background-color: #085fa3;
    color: white;
  }

  /* Regla de medios para dispositivos de pantalla más pequeña */
  @media (max-width: 768px) {
    .container-edit-email {
      text-align: center; /* Centra el contenido en pantallas pequeñas */
    }
  
    .container-info {
      margin-left: 0; /* Elimina el margen en pantallas pequeñas */
    }
  
    .btn-save-email {
      width: 70%; /* Ancho del 100% en pantallas pequeñas */
      margin-left: 0px;
    }
  }