.container-edit-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.container-info {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.container-info p {
  font-size: small;
}

.container-edit-name input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-save-name {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.4em 2.8em;
  background-color: #0978ea;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-left: 1rem;
  text-align: center;
  margin-top: 12px;
}

.btn-save-name:hover {
  border-color: white;
  background-color: #085fa3;
  color: white;
}

.error {
  color: red;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
}

/* Regla de medios para dispositivos de pantalla más pequeña */
@media (max-width: 768px) {
  .container-edit-name {
    text-align: center;
  }

  .container-info {
    margin-left: 0;
  }

  .btn-save-name {
    width: 107%;
    margin-left: 0px;
  }
}
