.search-bar {
  width: 300px;
  padding: 5px 10px 5px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #dbdbdb;
  background-image: url("/src/assets/lupa.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px center;
}
