html{
  overflow: auto;
}

.section-register {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-register{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-register input {
  border: 1px solid #ccc;
}

.name-input {
  display: flex;
  gap: 1rem;
  width: 105%;
  flex-wrap: wrap;
}

.name-input input {
  flex: 1;
  padding-left: 10px;
}

.information-register {
  margin: 10% 0;
}

label {
  font-size: .7em;
  padding-right: 110px;
  color: rgb(72, 72, 72);
  position: relative;
  padding-left: 30px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  margin: 10%;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
}

input[type="checkbox"]:checked + label::before {
  content: "✔";
  font-size: 16px;
  color: black;
  line-height: 20px;
  text-align: center;
}

.redirect-login {
  margin-top: -1.5rem!important ;
}

p {
  border-bottom: none;
}

@media (max-width: 600px) {
  .name-input {
    flex-direction: column;
    gap: 0;
    display: contents;
  }
}