html{
  overflow: hidden;
}

.section-register {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-register{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.name-input {
  display: flex;
  gap: 1rem;
  width: 105%; /* Cambia el ancho al 100% para dispositivos móviles */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos estrechos */
}

.name-input input {
  flex: 1; /* Hace que los campos de entrada ocupen todo el ancho disponible */
  padding-left: 10px;
}

.information-register {
  margin: 10% 0;
}

label {
  font-size: .7em;
  padding-right: 110px;
  color: rgb(72, 72, 72);
  position: relative;
  padding-left: 30px;
}

input[type="checkbox"] {
  position: absolute; /* Posición absoluta para que se superponga al chulito */
  opacity: 0; /* Hace el checkbox invisible */
  margin: 10%;
}

/* Estilo para el fondo del checkbox */
input[type="checkbox"] + label::before {
  content: ""; /* Añade contenido vacío para el fondo */
  position: absolute;
  left: 0;
  top: 6px;
  width: 20px; /* Ancho del fondo */
  height: 20px; /* Alto del fondo */
  background-color: white; /* Fondo blanco */
  border: 1px solid black; /* Borde negro */
}

/* Estilo para el chulito cuando el checkbox está marcado */
input[type="checkbox"]:checked + label::before {
  content: "✔"; /* Agrega el chulito cuando el checkbox está marcado */
  font-size: 16px; /* Tamaño de la fuente del chulito */
  color: black; /* Color del chulito */
  line-height: 20px; /* Alinea verticalmente el chulito */
  text-align: center; /* Alinea horizontalmente el chulito */
}

.redirect-login {
  margin-top: -1.5rem!important ;
}

@media (max-width: 600px) {
  .name-input {
    flex-direction: column; /* Cambia la dirección de los elementos en columnas para dispositivos móviles */
    gap: 0; /* Elimina el espacio entre los elementos en dispositivos móviles si es necesario */
    display: contents;
  }
}